
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Frame.cshtml";
}

<h2>达梦数据库审计示例</h2>
<script>
    layui.use('jquery', function () {
        var $ = layui.$;
        $("#tab1").addClass("layui-this");
    });
</script>
